.container * {
  margin: 0px;
  padding: 0px;
}

.container .back {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
  cursor: pointer;
}

.container .back h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #092f33;
}

.container h1 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 30px;
  line-height: 140%;
  color: #092f33;
}

.container .container_inner {
  height: auto;
  flex-wrap: wrap;
}

.container .container_inner_left {
  padding: 20px;
  height: auto;
  background-color: white;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
}

.container .container_inner_left_top {
  width: 100%;
  display: flex;
  align-items: center;
}

.container .container_inner_left_top h5 {
  font-weight: 600;
  font-size: 25px;
  line-height: 140%;
  margin-right: 10px;
  color: #092f33;
}

.container .container_inner_left_top P {
  font-size: 18px;
  line-height: 140%;
  color: #219653;
}

.container .container_inner_left_center {
  margin-top: 10px;
}

.container .container_inner_left_center p {
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #828282;
  margin-bottom: 6px;
}

.container .container_inner_left_center h6 {
  font-weight: 600;
  font-size: 21px;
  line-height: 110%;
  color: #303030;
}

.container .container_inner_left_bottom {
  width: 100%;
  height: auto;
}

.container .container_inner_left_bottom_content {
  margin-top: 30px;
}

.container .container_inner_left_bottom_content h5 {
  font-weight: 600;
  font-size: 21px;
  line-height: 140%;
  margin-bottom: 6px;
  color: #092f33;
}

.container .container_inner_left_bottom_content p {
  font-weight: 300;
  font-size: 18px;
  line-height: 140%;
  color: #4f4f4f;
}

.container .container_inner_right_first {
  padding: 20px;
  width: 100%;
  height: auto;
  background-color: white;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  display: flex;
}

.container .container_inner_right_first_right h1 {
  margin: 0px;
  font-weight: bold !important;
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 10px;
  color: #092f33;
}

.container .container_inner_right_first_right p {
  font-weight: 300;
  font-size: 18px;
  line-height: 110%;
  color: #303030;
  margin-bottom: 20px;
}

.container .container_inner_right_first_right .copy {
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 3px;
  height: 53px;
  padding: 14px 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.container .container_inner_right_first_right .copy p {
  font-weight: 300;
  font-size: 18px;
  line-height: 140%;
  color: #828282;
  margin: 0px;
}

.container .container_inner_right_first_right .copy img {
  cursor: pointer;
}

.container .container_inner_right_first_right .buttons .download {
  background-color: #219653;
  max-width: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 3px;
  height: 53px;
  width: 160px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: white;
  margin-right: 29px;
}

.container .container_inner_right_first_right .buttons .pod {
  border: none;
  background: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #219653;
}

.container .container_inner_right_second {
  margin-top: 30px;
  padding: 20px;
  width: 100%;
  height: auto;
  background-color: white;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
}

.container .container_inner_right_second .second_inner {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  border-bottom: 1px solid #e0e0e0;
}

.container .container_inner_right_second .second_inner p {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #219653;
  cursor: pointer !important;
}

.container .container_inner_right_second .second_inner h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: #092f33;
}

.container .container_inner_right_second .second_inner h3 {
  font-weight: 600;
  font-size: 25px;
  line-height: 140%;
  color: #092f33;
}

.container .container_inner_right_second .second_inner div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .container_inner_right_second .second_inner div p {
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #828282;
}
/*# sourceMappingURL=Details.module.css.map */