@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

.main__container {
  background-color: #fafafa;
  margin: 200px 0 100px 0 !important;
  .inner__container {
    .first__text {
      font-family: "Rubik", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 42px;
      line-height: 120%;
      color: darkgreen;
    }

    .second__text {
      font-family: "Rubik", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 120%;
      color: darkgreen;
    }

    .first__button {
      height: 100%;
      font-family: "Rubik", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      color: rgb(255, 255, 255);
      border: 1px solid #219653;
      background-color: #219653;
      border-radius: 2px;
      margin-right: 10px;
      width: 300px;
      height: 53px;
    }

    .second__button {
      height: 100%;
      font-family: "Rubik", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      color: #219653;
      border: 1px solid #219653;
      background-color: rgb(255, 255, 255);
      border-radius: 2px;
      width: 300px;
      height: 53px;
    }
    .oldMan_image__container {
      .imageWrapper {
        width: 36rem;
        position: absolute;
        bottom: 0;
        display: flex;
        left: -46px;
      }
      .old__image {
        height: 200px !important;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main__container {
    margin-top: 50px !important;
    margin-bottom: 40px !important;
    .inner__container {
      .text__holder {
        width: 100%;

        .empty__void {
          display: none;
        }
        .text__button__container {
          width: 100%;
          .text__container {
            text-align: center !important;
            .first__text {
              font-size: 29px;
              br {
                display: none;
              }
            }
            .second__text {
              font-size: 16px;
              br {
                display: none;
              }
            }
          }
          .button__container {
            display: flex;
            flex-direction: column;
            .first__button {
              margin-bottom: 20px;
              width: 100%;
            }
            .second__button {
              width: 100%;
            }
          }
        }
      }
      .oldMan_image__container {
        display: none !important;
      }
    }
  }
}

@media screen and (max-width: 698px) {
  .text__holder {
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .main__container {
    position: relative !important;
    .oldMan_image__container {
      position: static !important;
    }
    .imageWrapper {
      left: auto !important;
      right: 0 !important;
    }
  }
}
@media screen and (max-width: 575px) {
  .button__container {
    // height:54px !important;
    .first__button {
      height: 54px !important;
      font-size: 16px !important;
      font-weight: 500 !important;
    }
    .second__button {
      height: 54px !important;
      font-size: 16px !important;
      font-weight: 500 !important;
    }
  }
}
