
.goBack{
    display: flex;
    align-items: center;
    p{
        display: inline;
        margin: auto 8px;
        font-weight:600;
        font-size :17px;
        line-height:27px;
        color:rgba(9, 47, 51, 1);
    }
}

.title{
    color:rgba(9, 47, 51, 1);
    font-size: 26px;
    font-weight: 300;
}

@media screen and (max-width:1198px) {
    .cont{
        display: flex;
        flex-direction: column;
    }   
}