@import "./mui-castom-styles.scss";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
input,
button,
li,
ul,
div,
a {
  font-family: "Rubik", sans-serif;

}

body {
  scrollbar-color: yellow blue !important;

}

.MuiButtonBase-root-MuiPaginationItem-root {
  color: #219653 !important;
}

a {
  text-decoration: none !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  border-color: #219653 !important;
  color: #219653 !important;
}

.scrollable-element {
  scrollbar-color: red yellow;
  /* red is for the thumb and yellow is for the track */
}



.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
  background-color: #219653 !important;
}

.ant-radio-button-wrapper:hover {
  color: #219653 !important;
}

::-webkit-scrollbar {
  width: 10px;
}

.ant-select {
  border: none !important;
  outline: none !important;

  .ant-select:focus {
    border: none !important;
    outline: none !important;
  }

  .ant-select-selector {
    width: 100% !important;
    // border: none !important;
    outline: none !important;
    background: none !important;

    .ant-select-selection-item {
      // color: #219653 !important;
      font-weight: 600 !important;
    }
  }
}

.MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  border: 1px solid #eeeeee !important;
}

.ant-radio-button-wrapper {
  font-weight: 600 !important;

  .ant-radio-button-wrapper-checked {
    font-weight: 600 !important;
  }
}


::-webkit-scrollbar-thumb {
  background-color: lightgray !important;
  width: 4px;
  border-radius: 8px;
}

.MuiTableHead-root {
  background: #eeeeee;
}

.MuiTable-root {
  border-collapse: unset !important;
  border-spacing: 0 15px !important;
  border: none !important;
  table-layout: auto !important;

  .Mui-selected {
    background-color: #edf2f1 !important;
  }

  .MuiTableRow-root {
    .MuiTableCell-root {
      border-top: 1px solid #eeeeee;
      border-bottom: 1px solid #eeeeee;
      border-radius: 3px;

      &:first-child {
        border-left: 1px solid #eee;
      }

      &:last-child {
        border-right: 1px solid #eee;
      }
    }
  }
}